@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Be Vietnam Pro", sans-serif;

  --bright-red: hsl(12, 88%, 59%);
  --dark-blue: hsl(228, 39%, 23%);

  --dark-grayish-blue: hsl(227, 12%, 61%);
  --very-dark-blue: hsl(233, 12%, 13%);
  --very-pale-red: hsl(13, 100%, 96%);
  --very-light-gray: hsl(0, 0%, 98%);
}

.wrapper {
  overflow-x: hidden;
  position: fixed;
}
button {
  cursor: pointer;
  width: 137px;
  height: 45px;
  border: none;
  font-weight: 500;
  background: var(--bright-red);
  border-radius: 25px;
  color: var(--very-pale-red);
  box-shadow: 0px 15px 50px -10px hsla(12, 88%, 59%, 0.75);
  transition: 0.3s;
}
button:hover {
  opacity: 0.6;
}
h2 {
  font-size: 35px;
  color: var(--dark-blue);
}
p {
  line-height: 1.3rem;
  font-size: 0.9rem;
  font-weight: 400;
  color: var(--dark-grayish-blue);
}
.tablet-one {
  position: absolute;
  z-index: -1;
  top: -20%;
  right: -10%;
}
.tablet-two {
  position: absolute;
  z-index: -1;
  top: 160%;
  left: -35%;
}

/* Header */
header {
  display: grid;
  grid-template-columns: repeat(3, auto);
  padding: 5% 11%;
  align-items: center;
}
nav {
  display: flex;
  justify-content: space-between;
}
nav p {
  cursor: pointer;
  color: var(--dark-blue);
  font-size: 13px;
  transition: 0.3s;
}
nav p:hover {
  color: var(--dark-grayish-blue);
}
header button {
  justify-self: right;
}
.menu {
  display: none;
}

/* Intro */
.intro {
  display: grid;
  grid-template-columns: auto auto;
  padding: 0 11%;
  margin-top: 50px;
  align-items: center;
}
.intro .text h1 {
  color: var(--dark-blue);
  font-size: 50px;
}
.intro .text p {
  margin-top: 35px;
  width: 60%;
}
.intro .text button {
  margin-top: 40px;
}

/* Different */
.difference {
  margin-top: 70px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 11%;
}
.difference .left p {
  margin-top: 30px;
  width: 60%;
}
.difference .right article {
  display: grid;
  grid-template-columns: auto auto;
}
.difference .right article span {
  width: 55px;
  height: 35px;
  background: var(--bright-red);
  color: var(--very-pale-red);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  font-size: 12px;
  font-weight: 500;
  margin-right: 25px;
}
.difference .right article .text h5 {
  color: var(--dark-blue);
  margin-top: 10px;
  font-size: 15px;
}
.difference .right article:not(:first-child) {
  margin-top: 40px;
}
.difference .right article .text p {
  margin-top: 10px;
  width: 80%;
}

/* Testimonials */
.testimonials {
  margin-top: 150px;
}
.testimonials h2 {
  text-align: center;
}
.testimonials section {
  position: relative;
  display: flex;
  margin-top: 110px;
  overflow-x: scroll;
  scroll-behavior: smooth;
  padding-top: 35.5px;
}
section::-webkit-scrollbar {
  display: none;
}
.testimonials article {
  display: grid;
  position: relative;
  margin-top: 10px;
  min-width: 33.85%;
  text-align: center;
  background: var(--very-light-gray);
  padding: 0px 2.3%;
  padding-top: 3%;
  padding-bottom: 2%;
  margin: 0px 10px;
}
.testimonials article img {
  width: 15%;
  position: absolute;
  justify-self: center;
  top: -35.5px;
}
.testimonials article h5 {
  margin-top: 20px;
  color: var(--dark-blue);
}
.testimonials article p {
  margin-top: 15px;
}
.radio {
  display: none;
}
.testimonials button {
  display: block;
  margin: 0px auto;
  margin-top: 50px;
}

/* Footer */
/* Simplify */
footer {
  margin-top: 180px;
}
.simplify {
  position: relative;
  background: var(--bright-red);
  display: grid;
  grid-template-columns: auto auto;
  padding: 4% 11%;
  overflow: hidden;
  align-items: center;
}
.simplify img {
  position: absolute;
  top: -57%;
  left: 18%;
}
.simplify h2 {
  color: white;
  width: 60%;
}
.simplify .cheat-one {
  background: white;
  justify-self: right;
  z-index: 1;
  border-radius: 25px;
}
.simplify button {
  color: var(--bright-red);
  background: white;
}

/* Details */
.details {
  background: var(--very-dark-blue);
  color: white;
  display: grid;
  grid-template-columns: repeat(4, auto);
  padding: 4% 11%;
  align-content: center;
}
.social {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  width: 146px;
}
i {
  cursor: pointer;
  transition: 0.3s;
}
i:hover {
  color: var(--bright-red);
}
ul li {
  width: fit-content;
  list-style: none;
  font-size: 0.9rem;
  color: var(--very-light-gray);
  line-height: 33px;
  cursor: pointer;
  transition: 0.3s;
}
ul li:hover {
  color: var(--bright-red);
}
.three {
  justify-self: center;
}
.four {
  justify-self: right;
  display: grid;
  justify-items: right;
}
.four input {
  height: 40px;
  border: none;
  width: 200px;
  padding: 7.5%;
  border-radius: 25px;
  font-size: 10px;
  font-weight: 400;
}
.four input:focus {
  outline: none;
}
.cheat-two {
  background: white;
  width: 65px;
  height: 40px;
  border-radius: 25px;
  display: inline-block;
}
.four button {
  box-shadow: none;
  width: 65px;
  height: 40px;
}
.four p {
  margin-top: 60px;
  font-size: 0.7rem;
}
form {
  position: relative;
}
.error {
  outline: 1px solid var(--bright-red);
  color: var(--bright-red);
}
.error-message {
  color: var(--bright-red);
  font-size: 9px;
  position: absolute;
  top: 50px;
  left: 20px;
  opacity: 0;
  transition: none;
}
.attribution {
  background: var(--bright-red);
  color: white;
  padding: 1%;
  font-size: 12px;
  text-align: center;
}
.attribution a {
  text-decoration: none;
  color: var(--dark-blue);
}

@media screen and (min-width: 375px) and (max-width: 850px) {
  .tablet-one {
    width: 90%;
    top: -6%;
    right: -8%;
  }
  .tablet-two {
    width: 70%;
    top: 70%;
    left: auto;
    right: -30%;
  }
  header button {
    display: none;
  }
  .logo {
    width: 50%;
    margin-top: 10px;
  }
  .menu {
    display: block;
    grid-column: 3;
    justify-self: right;
    position: relative;
    width: 100%;
    height: 100%;
    align-self: center;
  }
  #open,
  #close {
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.2s;
  }
  .no-show {
    opacity: 0;
    pointer-events: none;
  }
  nav {
    display: block;
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 90%;
    background: white;
    border-radius: 5px;
    overflow-y: hidden;
    padding: 5% 0;
    box-shadow: 0px 150px 100px 100px hsla(228, 39%, 23%, 0.2);
    transition: 0.3s;
  }
  .close-nav {
    box-shadow: none;
    height: 0;
    padding: 0;
  }
  nav p {
    line-height: 50px;
    font-weight: 700;
    font-size: 1rem;
  }
  .intro {
    grid-template-columns: auto;
  }
  .hero {
    grid-row: 1;
    width: 100%;
  }
  .intro .text {
    text-align: center;
  }
  .intro .text h1 {
    font-size: 30px;
  }
  .intro .text p {
    margin: 0px auto;
    margin-top: 10px;
    width: 100%;
  }
  .intro .text button {
    margin-top: 30px;
  }

  .difference {
    grid-template-columns: auto;
    padding: 0;
  }
  .difference .left {
    padding: 0 10%;
  }
  .difference h2 {
    font-size: 25px;
    width: 90%;
    text-align: center;
  }
  .difference .left p {
    text-align: center;
    margin: 0px auto;
    width: 100%;
  }
  .difference .right {
    margin-top: 10px;
    padding-left: 5%;
  }
  .difference .right article {
    display: block;
  }
  .difference .right article:not(:first-child) {
    margin-top: 0px;
  }
  .difference .right article span {
    transform: translateY(35px);
  }
  .difference .right article .text h5 {
    background: var(--very-pale-red);
    line-height: 35px;
    align-self: center;
    margin-top: 0px;
    margin-left: 70px;
    position: relative;
  }
  .difference .right article .text h5::before {
    content: "";
    background: var(--very-pale-red);
    height: 35px;
    width: 70px;
    position: absolute;
    top: 0;
    left: -70px;
    z-index: -1;
    border-radius: 25px 0 0 25px;
  }
  .right article .text {
    display: grid;
  }
  .difference .right article .text p {
    width: 100%;
  }
  .testimonials {
    margin-top: 60px;
  }
  .testimonials section {
    display: grid;
    grid-template-columns: repeat(4, 95%);
    scroll-behavior: smooth;
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: 20px;
    margin-top: 60px;
  }
  .testimonials section article {
    margin-left: 20px;
    margin-right: 0;
    scroll-snap-align: start;
    padding: 5%;
    padding-bottom: 10%;
  }
  .testimonials section article p {
    line-height: 1.75rem;
  }
  .testimonials section article:first-child {
    margin-left: 20px;
    margin-right: 0;
  }
  .testimonials section article:last-child {
    margin-right: 20px;
    width: 100%;
  }
  .radio {
    display: flex;
    width: 45px;
    margin: 0px auto;
    margin-top: 25px;
    justify-content: space-between;
  }
  .radio > * {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    border: 2px solid var(--bright-red);
    cursor: pointer;
  }
  .testimonials button {
    margin-top: 40px;
  }

  footer {
    margin-top: 40px;
  }
  .simplify {
    text-align: center;
    grid-template-columns: auto;
    justify-items: center;
    padding: 11%;
  }
  .simplify h2 {
    width: 90%;
  }
  .simplify .cheat-one {
    justify-self: center;
    margin-top: 30px;
  }
  .simplify img {
    /* transform: rotateY(180deg); */
    top: 0;
    left: -80%;
  }
  .details {
    grid-template-columns: auto auto;
    justify-items: center;
    padding: 10% 11%;
    padding-bottom: 15%;
  }
  .one {
    grid-area: 3/1 / span 1 / span 2;
    position: relative;
    margin-top: 137px;
  }
  .social {
    margin-top: 0;
    position: absolute;
    top: -80px;
    width: 180%;
    left: 50%;
    transform: translateX(-50%);
  }
  i {
    font-size: 30px;
  }
  ul {
    margin-top: 55px;
  }
  .four {
    grid-area: 1/1 / span 1 / span 2;
    justify-self: center;
    justify-items: center;
    position: relative;
  }
  .four p {
    margin-top: 0;
    position: absolute;
    top: 1000%;
  }
}
